openapi: 3.0.3
info:
  title: Vacancies Market Service API
  description: Manage vacancies, employers, interviewers.
  version: 1.0.0
servers:
  - url: https://api.aijobresearcher.com/api/v1
    description: Production server
paths:
  /vacancies:
    post:
      summary: Search vacancies
      description: Search vacancies by job ID with filtering and pagination. All
        criteria are sent in the request body as multipart/form-data.
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                job_id:
                  type: string
                  nullable: true
                  description: Id of the job the vacancy is assigned to
                employer_id:
                  type: string
                  nullable: true
                  description: Filter by employer
                country:
                  type: string
                  nullable: true
                  description: Filter by country
                city:
                  type: string
                  nullable: true
                  description: Filter by city
                min_salary:
                  type: integer
                  nullable: true
                  description: Minimum salary (USD)
                max_salary:
                  type: integer
                  nullable: true
                  description: Maximum salary (USD)
                status:
                  type: string
                  nullable: true
                  enum: [open, closed]
                  description: Vacancy status
                per_page:
                  type: integer
                  maximum: 100
                  default: 20
                  nullable: true
                  description: Number of records per page
                page:
                  type: integer
                  default: 1
                  nullable: true
                  description: Page number
                sort:
                  type: string
                  enum: [date, salary_asc, salary_desc]
                  default: date
                  nullable: true
                  description: Sort field
      responses:
        '200':
          description: Successful response
          headers:
            X-Total-Count:
              schema:
                type: integer
              description: Total number of vacancies matching the query
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacancyPreview'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        nullable: true
                      next:
                        type: string
                        nullable: true
        '422':
          description: Validation failed
  /vacancies/{id}:
    get:
      summary: Get vacancy details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed vacancy information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vacancy'
        '404':
          description: Vacancy not found
  /jobs:
    get:
      summary: Get jobs collections
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Search string (title)
        - name: employer_id
          in: query
          schema:
            type: string
            nullable: true
          description: Filter by employer
      responses:
        '200':
          description: Jobs list collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  total:
                    type: integer
        '422':
          description: Validation failed
        '401':
          description: Unauthorised
  /employers/{id}:
    get:
      summary: Get employer information
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Employer data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employer'
        '404':
          description: Employer not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    VacancyPreview:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        employer_id:
          type: string
        employer_title:
          type: string
        min_salary:
          type: integer
        max_salary:
          type: integer
        currency:
          type: string
        country:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        employment_type:
          type: string
          enum: [part-time, contract, internship, full-time, volunteer]
        workplace:
          type: string
          enum: [remote, on-site, hybrid]
        status:
          type: string
          enum: [open, closed]
        posted_at:
          type: string
          format: date-time
    Vacancy:
      allOf:
        - $ref: '#/components/schemas/VacancyPreview'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            requirements:
              type: array
              items:
                type: string
            internal_url:
              type: string
              nullable: true
            external_urls:
              type: array
              items:
                type: string
            employer:
              $ref: '#/components/schemas/Employer'
            closed_at:
              type: string
              format: date-time
              nullable: true
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            version:
              type: integer
    Employer:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        website:
          type: string
    Job:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        employer_id:
          type: string
        location:
          type: string
        min_salary:
          type: integer
        max_salary:
          type: integer
        currency:
          type: string
        created_at:
          type: string
          format: date-time
