openapi: 3.0.3
info:
  title: Vacancies Market Service API
  description: 'Read API for the vacancy catalogue: vacancy search and details.'
  version: 2.0.0
servers:
  - url: https://api.aijobresearcher.com/api/v1
    description: Production server
security:
  - BearerAuth: []
paths:
  /vacancies:
    post:
      summary: Search vacancies
      description: Search vacancies with filtering and pagination; criteria are
        sent in the request body.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Id of the job the vacancy is assigned to
                employer_id:
                  type: string
                  description: Filter by employer
                country:
                  type: string
                  description: Filter by country
                city:
                  type: string
                  description: Filter by city
                min_salary:
                  type: integer
                  description: Minimum salary (USD)
                max_salary:
                  type: integer
                  description: Maximum salary (USD)
                status:
                  type: string
                  enum: [open, closed]
                  description: Vacancy status
                per_page:
                  type: integer
                  maximum: 100
                  default: 20
                  description: Number of records per page
                page:
                  type: integer
                  default: 1
                  description: Page number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacancyPreview'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
        '401':
          description: Unauthenticated
        '422':
          description: Validation failed
  /vacancy/{id}:
    get:
      summary: Get vacancy details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed vacancy information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vacancy'
        '401':
          description: Unauthenticated
        '404':
          description: Vacancy not found
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    VacancyPreview:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        employer_id:
          type: string
        employer_title:
          type: string
        min_salary:
          type: integer
        max_salary:
          type: integer
        currency:
          type: string
        country:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        employment_type:
          type: string
          enum: [part-time, contract, internship, full-time, volunteer]
        workplace:
          type: string
          enum: [remote, on-site, hybrid]
        status:
          type: string
          enum: [open, closed]
        posted_at:
          type: string
          format: date-time
    Vacancy:
      allOf:
        - $ref: '#/components/schemas/VacancyPreview'
        - type: object
          properties:
            description:
              type: string
              nullable: true
            requirements:
              type: array
              items:
                type: string
            internal_url:
              type: string
              nullable: true
            external_urls:
              type: array
              items:
                type: string
            employer:
              $ref: '#/components/schemas/Employer'
            interviewer:
              nullable: true
              allOf:
                - $ref: '#/components/schemas/Interviewer'
            closed_at:
              type: string
              format: date-time
              nullable: true
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            version:
              type: integer
    Employer:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        logo_url:
          type: string
          nullable: true
          description: URL/path to the employer logo (server path now, S3 later)
    Interviewer:
      type: object
      properties:
        id:
          type: string
        full_name:
          type: string
        position:
          type: string
          nullable: true
        profile_urls:
          type: object
          nullable: true
          additionalProperties:
            type: string
        avatar_url:
          type: string
          nullable: true
          description: URL/path to the interviewer photo (server path now, S3 later)
