openapi: 3.1.0
info:
  title: Vacancies Market Service API
  description: 'Read API for the vacancy catalogue: vacancy search and details.'
  version: 6.1.0
servers:
  - url: https://api.aijobresearcher.com/api/v1
    description: Production server
security:
  - BearerAuth: []
paths:
  /vacancies:
    post:
      summary: Get vacancies by JobIds
      description: Search vacancies with filtering and pagination; criteria are
        sent in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Id of the job the vacancy is assigned to
                employer_id:
                  type: string
                  description: Filter by employer
                countries:
                  type: array
                  items:
                    type: string
                  description: Filter by country
                cities:
                  type: array
                  items:
                    type: string
                  description: Filter by city
                min_salary:
                  type: integer
                  description: Minimum salary (USD)
                max_salary:
                  type: integer
                  description: Maximum salary (USD)
                status:
                  type: string
                  enum: [open, closed]
                  description: Vacancy status
                workplaces:
                  type: array
                  items:
                    $ref: '#/components/schemas/Workplace'
                  description: Filter by workplace
                employment_types:
                  type: array
                  items:
                    $ref: '#/components/schemas/EmploymentType'
                  description: Filter by employment type
                posted_from:
                  type: string
                  format: date-time
                  description: Earliest posted_at (inclusive)
                posted_to:
                  type: string
                  format: date-time
                  description: Latest posted_at (inclusive)
                per_page:
                  type: integer
                  maximum: 100
                  default: 20
                  description: Number of records per page
                page:
                  type: integer
                  default: 1
                  description: Page number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacancyPreview'
                  meta:
                    type: object
                    required: [current_page, per_page, total, last_page]
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vacancy/{id}:
    get:
      summary: Get vacancy details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed vacancy information
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Vacancy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vacancies-filtering-data:
    get:
      summary: Get vacancy filtering data
      description: Vocabulary of employer countries and cities for filtering.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/VacancyFilteringData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /jobs:
    post:
      summary: Get jobs by list ids
      description: Returns the job catalogue collection filtered by the given
        job ids.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_ids]
              properties:
                job_ids:
                  type: array
                  items:
                    type: string
                  description: Ids of the jobs to return
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  meta:
                    type: object
                    required: [current_page, per_page, total, last_page]
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /job-categories:
    get:
      summary: List job categories
      description: Vocabulary of job categories with their sub-categories.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobCategory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  headers:
    RetryAfter:
      description: Seconds or an HTTP-date after which the request may be retried.
      schema:
        oneOf:
          - type: integer
          - type: string
  responses:
    Unauthorized:
      description: Unauthenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationFailed:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error payload; either `message` or `detail` may be present.
      properties:
        message:
          type: string
        detail:
          type: string
    VacancyPreview:
      type: object
      required: [id, title, employer_id, employer_title, min_salary, employment_type, workplace, status, posted_at]
      properties:
        id:
          type: string
        title:
          type: string
        employer_id:
          type: string
        employer_title:
          type: string
        min_salary:
          type: integer
        max_salary:
          type: [integer, 'null']
        country:
          type: [string, 'null']
        city:
          type: [string, 'null']
        employment_type:
          $ref: '#/components/schemas/EmploymentType'
        workplace:
          $ref: '#/components/schemas/Workplace'
        status:
          type: string
          enum: [open, closed]
        posted_at:
          type: string
          format: date-time
    Vacancy:
      allOf:
        - $ref: '#/components/schemas/VacancyPreview'
        - type: object
          required: [requirements, external_urls, employer, created_at, updated_at, version]
          properties:
            description:
              type: [string, 'null']
            requirements:
              type: array
              items:
                type: string
            internal_url:
              type: [string, 'null']
            external_urls:
              type: array
              items:
                type: string
            employer:
              $ref: '#/components/schemas/Employer'
            interviewers:
              type: array
              items:
                $ref: '#/components/schemas/Interviewer'
            closed_at:
              type: [string, 'null']
              format: date-time
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            version:
              type: integer
    Employer:
      type: object
      required: [id, title]
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: [string, 'null']
        website:
          type: [string, 'null']
        email:
          type: [string, 'null']
        phone:
          type: [string, 'null']
        logo_url:
          type: [string, 'null']
          description: URL/path to the employer logo (server path now, S3 later)
    Interviewer:
      type: object
      required: [id, full_name]
      properties:
        id:
          type: string
        full_name:
          type: string
        position:
          type: [string, 'null']
        profile_urls:
          type: [object, 'null']
          additionalProperties:
            type: string
        avatar_url:
          type: [string, 'null']
          description: URL/path to the interviewer photo (server path now, S3 later)
    Job:
      type: object
      required: [id, title, category]
      properties:
        id:
          type: string
        title:
          type: string
        category:
          type: string
        sub_category:
          type: [string, 'null']
          description: Sub-category of the job; null when not set
        parent_job_id:
          type: [string, 'null']
          description: ID of the parent job; null for a root job
        parent_job_title:
          type: [string, 'null']
          description: Title of the parent job; null for a root job
    JobCategory:
      type: object
      required: [category]
      properties:
        category:
          type: string
        sub_categories:
          type: array
          items:
            type: string
    VacancyFilteringData:
      type: object
      required: [employer_countries, employer_cities]
      properties:
        employer_countries:
          type: array
          items:
            type: string
          description: Distinct countries across employers
        employer_cities:
          type: array
          items:
            type: string
          description: Distinct cities across employers
    Workplace:
      type: string
      description: Workplace arrangement
      enum: [remote, on-site, hybrid]
    EmploymentType:
      type: string
      description: Employment type
      enum: [part-time, contract, internship, full-time, volunteer]
