openapi: 3.2.1
info:
  title: Vacancies Market Service API
  summary: Vacancy catalogue read API
  description: 'Read API for the vacancy catalogue: vacancy search and details.'
  version: 0.0.15
servers:
  - url: https://api.aijobresearcher.com/api/v1
    name: Production
    description: Production server
tags:
  - name: vacancies
    summary: Vacancies
    description: Searching and reading vacancies.
    kind: nav
  - name: jobs
    summary: Jobs
    description: Reading the job catalogue.
    kind: nav
  - name: job-categories
    summary: Job categories
    description: Job category and sub-category vocabulary.
    kind: nav
  - name: locations
    summary: Locations
    description: Country, region and city vocabulary.
    kind: nav
security:
  - BearerAuth: []
paths:
  /vacancies:
    query:
      operationId: getVacanciesByJobIds
      summary: Get vacancies by JobIds
      description: Search vacancies with filtering and pagination; criteria are
        sent in the request body.
      tags: [vacancies]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_id]
              properties:
                job_id:
                  type: string
                  description: Id of the job the vacancy is assigned to
                employer_ids:
                  type: array
                  items:
                    type: string
                  description: Filter by employers
                location_ids:
                  type: array
                  items:
                    type: integer
                  description: Filter by researcher Location ids
                min_salary:
                  type: integer
                  description: Minimum salary (USD)
                max_salary:
                  type: integer
                  description: Maximum salary (USD)
                status:
                  type: string
                  enum: [open, closed]
                  description: Vacancy status
                workplaces:
                  type: array
                  items:
                    $ref: '#/components/schemas/Workplace'
                  description: Filter by workplace
                employment_types:
                  type: array
                  items:
                    $ref: '#/components/schemas/EmploymentType'
                  description: Filter by employment type
                posted_from:
                  type: string
                  format: date-time
                  description: Earliest VacancySource.posted_at (inclusive)
                posted_to:
                  type: string
                  format: date-time
                  description: Latest VacancySource.posted_at (inclusive)
                per_page:
                  type: integer
                  maximum: 100
                  default: 20
                  description: Number of records per page
                page:
                  type: integer
                  default: 1
                  description: Page number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacancyPreview'
                  meta:
                    type: object
                    required: [current_page, per_page, total, last_page]
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vacancy/{id}:
    get:
      operationId: getVacancyDetails
      summary: Get vacancy details
      tags: [vacancies]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Detailed vacancy information
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Vacancy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /jobs:
    query:
      operationId: getJobsByListIds
      summary: Get jobs by list ids
      description: Returns the job catalogue collection filtered by the given
        job ids.
      tags: [jobs]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [job_ids]
              properties:
                job_ids:
                  type: array
                  items:
                    type: string
                  description: Ids of the jobs to return
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Job'
                  meta:
                    type: object
                    required: [current_page, per_page, total, last_page]
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total:
                        type: integer
                      last_page:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /job-categories:
    get:
      operationId: listJobCategories
      summary: List job categories
      description: Vocabulary of job categories with their sub-categories.
      tags: [job-categories]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobCategory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /locations:
    get:
      operationId: listLocations
      summary: List locations
      description: Location dictionary for employer and researcher location ids.
      tags: [locations]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  headers:
    RetryAfter:
      description: Seconds or an HTTP-date after which the request may be retried.
      schema:
        oneOf:
          - type: integer
          - type: string
  responses:
    Unauthorized:
      description: Unauthenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationFailed:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests
      headers:
        Retry-After:
          $ref: '#/components/headers/RetryAfter'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error payload; either `message` or `detail` may be present.
      properties:
        message:
          type: string
        detail:
          type: string
    VacancyPreview:
      type: object
      required: [id, title, employer, min_salary, employment_type, workplace, status]
      properties:
        id:
          type: string
        title:
          type: string
        employer:
          type: object
          required: [employer_id, employer_title]
          properties:
            employer_id:
              type: string
            employer_title:
              type: string
        min_salary:
          type: integer
        max_salary:
          type: [integer, 'null']
        researcher_location_ids:
          type: array
          description: Ids of the researcher's desired Locations.
          items:
            type: integer
        employment_type:
          $ref: '#/components/schemas/EmploymentType'
        workplace:
          $ref: '#/components/schemas/Workplace'
        status:
          type: string
          enum: [open, closed]
    Vacancy:
      allOf:
        - $ref: '#/components/schemas/VacancyPreview'
        - type: object
          required: [requirements, created_at, updated_at, version]
          properties:
            requirements:
              type: array
              description: Requirements of the vacancy.
              items:
                $ref: '#/components/schemas/Requirement'
            interviewers:
              type: array
              description: Interviewers of the vacancy's employer.
              items:
                $ref: '#/components/schemas/Interviewer'
            vacancy_sources:
              type: array
              description: Sources this vacancy was imported from.
              items:
                $ref: '#/components/schemas/VacancySource'
            closed_at:
              type: [string, 'null']
              format: date-time
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            version:
              type: integer
    VacancySource:
      type: object
      required: [id]
      properties:
        id:
          type: string
        external_url:
          type: string
        description:
          type: [string, 'null']
        posted_at:
          type: string
          format: date-time
    Requirement:
      type: object
      required: [id]
      properties:
        id:
          type: string
        title:
          type: string
    Interviewer:
      type: object
      required: [id, full_name]
      properties:
        id:
          type: string
        full_name:
          type: string
        position:
          type: [string, 'null']
        profile_urls:
          type: [object, 'null']
          additionalProperties:
            type: string
        avatar_url:
          type: [string, 'null']
          description: URL/path to the interviewer photo (server path now, S3 later)
    Job:
      type: object
      required: [id, title, category]
      properties:
        id:
          type: string
        title:
          type: string
        category:
          type: string
        sub_category:
          type: [string, 'null']
          description: Sub-category of the job; null when not set
        parent_job_id:
          type: [string, 'null']
          description: ID of the parent job; null for a root job
        parent_job_title:
          type: [string, 'null']
          description: Title of the parent job; null for a root job
    JobCategory:
      type: object
      required: [category]
      properties:
        category:
          type: string
        sub_categories:
          type: array
          items:
            type: string
    Location:
      type: object
      required: [id, name, type]
      properties:
        id:
          type: integer
        name:
          type: string
        iso_name:
          type: string
        parent_id:
          type: [integer, 'null']
        type:
          type: string
          enum: [country, city, unification-of-countries, region]
    Workplace:
      type: string
      description: Workplace arrangement
      enum: [remote, on-site, hybrid]
    EmploymentType:
      type: string
      description: Employment type
      enum: [part-time, contract, internship, full-time, volunteer]
