openapi: 3.2.1
info:
  title: Researcher CRM API
  summary: Job seeker profile, desired jobs, replies, meetings and messages
  description: Manage job seeker profile, applications, meetings, messages.
  version: 1.1.3
servers:
  - url: https://api.aijobresearcher.com/api/v1
    name: Production
    description: Production server
paths:
  /researchers:
    post:
      operationId: registerResearcher
      summary: Register a job seeker
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearcherInput'
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Researcher'
  /researchers/{id}:
    get:
      operationId: getResearcher
      summary: Get job seeker profile
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Researcher'
        '403':
          description: Access forbidden (other user's profile)
    delete:
      operationId: deleteResearcher
      summary: Delete account (GDPR)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Account deleted
        '403':
          description: Cannot delete another user's account
  /researchers/{id}/export:
    get:
      operationId: exportResearcherData
      summary: Export data (GDPR)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: JSON with all job seeker data
  /jobs:
    post:
      operationId: addDesiredJob
      summary: Add a desired job to the researcher's list
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DesiredJobInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DesiredJob'
  /replies:
    post:
      operationId: createReply
      summary: Apply to a vacancy
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vacancy_id:
                  type: string
      responses:
        '201':
          description: Application created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reply'
        '422':
          description: Validation failed
  /replies/{reply_id}:
    delete:
      operationId: withdrawReply
      summary: Withdraw an application
      security:
        - BearerAuth: []
      parameters:
        - name: reply_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Withdrawn
  /interviews/schedule:
    post:
      operationId: scheduleMeet
      summary: Schedule a meeting
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vacancy_id:
                  type: string
                interviewer_id:
                  type: string
                planned_datetime:
                  type: string
                  format: date-time
      responses:
        '202':
          description: Meeting scheduled asynchronously
          headers:
            Location:
              schema:
                type: string
              description: URL to track status
        '400':
          description: Error (application not approved or interviewer unavailable)
  /meets/{meet_id}:
    delete:
      operationId: cancelMeet
      summary: Cancel a meeting
      security:
        - BearerAuth: []
      parameters:
        - name: meet_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Cancelled
  /messages:
    post:
      operationId: sendMessage
      summary: Send a message
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                meet_id:
                  type: string
                content:
                  type: string
      responses:
        '201':
          description: Message sent
  /analytics/replies:
    get:
      operationId: getReplyAnalytics
      summary: Reply analytics for the job seeker
      security:
        - BearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [week, month, year]
            default: month
      responses:
        '200':
          description: Statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_replies:
                    type: integer
                  approved:
                    type: integer
                  rejected:
                    type: integer
                  conversion_rate:
                    type: number
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResearcherInput:
      type: object
      required: [full_name, email]
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        resume_link:
          type: string
          format: uri
    Researcher:
      allOf:
        - $ref: '#/components/schemas/ResearcherInput'
        - type: object
          required: [id]
          properties:
            id:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    DesiredJobInput:
      type: object
      required: [job_id]
      properties:
        job_id:
          type: string
          description: Id of the Vacancies Market Job
        priority:
          type: integer
          minimum: 1
          maximum: 5
        criteria:
          type: object
    DesiredJob:
      allOf:
        - $ref: '#/components/schemas/DesiredJobInput'
        - type: object
          required: [id]
          properties:
            id:
              type: string
            status:
              type: string
              enum: [active, filled, archived]
    Reply:
      type: object
      required: [id]
      properties:
        id:
          type: string
        researcher_id:
          type: string
        vacancy_id:
          type: string
        applied_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [pending, approved, rejected, withdrawn]
        interview_stage:
          type: string
